/* En tête de la page*/


header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 30px ;
    margin-top: 15px;
}

nav a:hover
{
    color:  #0065FC;
    border-top: 2px solid #0065FC;
}
nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}


h1 {
    color: #0065FC;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}



/* Partie hébergement*/

#Hebergements_Marseille {
    background-color:#F2F2F2;
}

/* Les plus populaires*/

aside {
    background-color: #F2F2F2;
}

/* Bas de page*/

footer {
    display: flex;
    justify-content:space-between;
    background-color:#F2F2F2;
}

#A_propos {
    margin-left: 30px;
}

#Assistance {
    margin-right: 30%;
}


